* {
  box-sizing: border-box;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
h1,
p {
  font-family: Lato;
}
a,
button {
  text-decoration: none;
  color: #000;
}

.wrap {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
}

.header {
  width: 100%;
  height: 52px;
  background-color: aqua;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.header .headerMenu {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.header .headerMenu .homeBtn {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: pink;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.container {
  width: 100%;
  height: 100%;
  padding: 52px 0 100px;
  margin: 0;
}

.content {
  background-color: green;
}
